
body {
    margin: 0;
    background: white;
    overflow: hidden;
    font-family: "Buda", serif;
}

.buda-light {
    font-family: "Buda", serif;
    font-weight: 300;
    font-style: normal;
  }
  

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.section1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

 h2 {
color: black;
font-size: 2rem;
}

h1 {
    color: black;
    text-align: center;
    font-size: 3rem;
}


#game {
    height: 100vh;
    max-height: 700px;
    display: flex;
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
}


.card {
    width: 100px;
    height: 140px;
    margin: 1rem;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
 }
 
 .card.active {
    transform: rotateY(180deg);
 }
 
 .card div {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
}
 
 .card .face {
    background: rgb(105, 6, 6);
    transform: rotateY( 180deg );
    color: gray;
    font-size: 6rem;
}
 
 .card .back {
    border: 2px solid #041114;
    background-image:url('../img/fila-5-columna-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.estadisticas {
    border:1px solid black;
    height: 8rem;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}

footer {
    text-align: center;
}

.face img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    /* otros estilos personalizados */
  }
